@{
    ViewData["Title"] = "Message Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome To Peer To Peer Messaging App</h1>
    <p>@Html.ActionLink("Message Your Peer", "Message")</p>
</div>


