
@{
    ViewData["Title"] = "Message";
}
<div class="text-center">
    <p>@Html.ActionLink("Compose a Message", "Compose")</p>
    <p>@Html.ActionLink("Watch the MessageQueue", "Fetch")</p>

    <br>
    <br>
    @Html.ActionLink("Sign Out", "SignOut")
</div>

